--
-- PostgreSQL database dump
--

\restrict qml3vHpDUaQZa93PfaMVEcbgF0WFVLT4eQaRSl6Zmw0LLMu7avYzarblbucoqm7

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_extractions; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.ai_extractions (
    id uuid NOT NULL,
    conversation_id uuid NOT NULL,
    model_name character varying(100) NOT NULL,
    schema_version character varying(50) NOT NULL,
    lead_temperature character varying(20) NOT NULL,
    pipeline_stage character varying(50) NOT NULL,
    buying_intent character varying(20) NOT NULL,
    sentiment character varying(30) NOT NULL,
    risk_level character varying(20) NOT NULL,
    main_objections jsonb NOT NULL,
    budget_signal jsonb NOT NULL,
    recommended_reply_strategy jsonb NOT NULL,
    customer_summary text NOT NULL,
    next_best_action text NOT NULL,
    content_insight text NOT NULL,
    internal_notes text NOT NULL,
    confidence_score double precision NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.ai_extractions OWNER TO clara_user;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO clara_user;

--
-- Name: approval_logs; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.approval_logs (
    id uuid NOT NULL,
    reply_suggestion_id uuid NOT NULL,
    reviewer_name character varying(255) NOT NULL,
    action character varying(50) NOT NULL,
    before_text text,
    after_text text,
    reason text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.approval_logs OWNER TO clara_user;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    actor_user_id character varying(100),
    actor_email character varying(255),
    actor_role character varying(50),
    action character varying(100) NOT NULL,
    resource_type character varying(100) NOT NULL,
    resource_id character varying(100),
    ip_address character varying(100),
    user_agent text,
    metadata_json jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    organization_id character varying(100)
);


ALTER TABLE public.audit_logs OWNER TO clara_user;

--
-- Name: chat_review_cases; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.chat_review_cases (
    id uuid NOT NULL,
    conversation_id uuid NOT NULL,
    organization_id uuid,
    lead_id uuid,
    submitted_by_user_id uuid,
    reviewer_user_id uuid,
    status character varying(50) NOT NULL,
    review_label character varying(50) NOT NULL,
    review_summary text,
    coaching_focus text,
    recommended_action text,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    workflow_scope character varying(50) NOT NULL,
    feedback_status character varying(30) NOT NULL,
    feedback_sent_at timestamp with time zone,
    feedback_acknowledged_at timestamp with time zone,
    feedback_resolved_at timestamp with time zone
);


ALTER TABLE public.chat_review_cases OWNER TO clara_user;

--
-- Name: chat_review_notes; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.chat_review_notes (
    id uuid NOT NULL,
    review_case_id uuid NOT NULL,
    author_user_id uuid,
    note_type character varying(50) NOT NULL,
    body text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.chat_review_notes OWNER TO clara_user;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.conversations (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    source character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    current_stage character varying(50) NOT NULL,
    lead_temperature character varying(20) NOT NULL,
    raw_filename character varying(255),
    raw_text text,
    started_at timestamp with time zone,
    last_message_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    organization_id uuid,
    sales_user_id uuid,
    lead_id uuid,
    provider_key character varying(50),
    external_thread_key character varying(255)
);


ALTER TABLE public.conversations OWNER TO clara_user;

--
-- Name: customer_profiles; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.customer_profiles (
    id uuid NOT NULL,
    organization_id uuid,
    assigned_user_id uuid,
    display_name character varying(255) NOT NULL,
    canonical_key character varying(255) NOT NULL,
    last_contact_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    identity_confidence double precision NOT NULL,
    match_strategy character varying(50) NOT NULL,
    merge_notes text,
    merged_into_profile_id uuid,
    phone character varying(50),
    email character varying(255),
    address text,
    status character varying(20) NOT NULL,
    temperature character varying(20) NOT NULL,
    temperature_source character varying(20) NOT NULL
);


ALTER TABLE public.customer_profiles OWNER TO clara_user;

--
-- Name: knowledge_update_proposals; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.knowledge_update_proposals (
    id uuid NOT NULL,
    organization_id uuid,
    conversation_id uuid NOT NULL,
    chat_review_case_id uuid,
    lead_id uuid,
    proposed_by_user_id uuid,
    reviewed_by_user_id uuid,
    published_product_knowledge_id uuid,
    title character varying(255) NOT NULL,
    category character varying(100) NOT NULL,
    proposed_content text NOT NULL,
    source_type character varying(50) NOT NULL,
    rationale text,
    status character varying(50) NOT NULL,
    review_decision_note text,
    submitted_at timestamp with time zone,
    reviewed_at timestamp with time zone,
    published_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.knowledge_update_proposals OWNER TO clara_user;

--
-- Name: kpi_alert_records; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.kpi_alert_records (
    id uuid NOT NULL,
    organization_id uuid,
    acknowledged_by_user_id uuid,
    scope_type character varying(20) NOT NULL,
    alert_key character varying(255) NOT NULL,
    severity character varying(20) NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    recommended_action text NOT NULL,
    target_href character varying(255),
    status character varying(30) NOT NULL,
    first_detected_at timestamp with time zone NOT NULL,
    last_detected_at timestamp with time zone NOT NULL,
    acknowledged_at timestamp with time zone,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    resolved_by_user_id uuid,
    resolution_note text
);


ALTER TABLE public.kpi_alert_records OWNER TO clara_user;

--
-- Name: kpi_command_snapshots; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.kpi_command_snapshots (
    id uuid NOT NULL,
    organization_id uuid,
    scope_type character varying(20) NOT NULL,
    snapshot_type character varying(30) NOT NULL,
    metrics_json jsonb NOT NULL,
    observations_json jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.kpi_command_snapshots OWNER TO clara_user;

--
-- Name: lead_activity_events; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.lead_activity_events (
    id uuid NOT NULL,
    lead_id uuid NOT NULL,
    organization_id uuid,
    actor_user_id uuid,
    event_type character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    from_value text,
    to_value text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.lead_activity_events OWNER TO clara_user;

--
-- Name: lead_deals; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.lead_deals (
    id uuid NOT NULL,
    lead_id uuid NOT NULL,
    organization_id uuid,
    owner_user_id uuid,
    status character varying(30) NOT NULL,
    currency character varying(10) NOT NULL,
    expected_value numeric(18,2) NOT NULL,
    deposit_amount numeric(18,2) NOT NULL,
    expected_close_date date,
    closed_at timestamp with time zone,
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.lead_deals OWNER TO clara_user;

--
-- Name: lead_discipline_logs; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.lead_discipline_logs (
    id uuid NOT NULL,
    lead_id uuid NOT NULL,
    organization_id uuid,
    actor_user_id uuid,
    log_date date NOT NULL,
    activity_type character varying(100) NOT NULL,
    result_status character varying(100) NOT NULL,
    main_objection text,
    customer_mood character varying(100),
    notes text,
    next_follow_up_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.lead_discipline_logs OWNER TO clara_user;

--
-- Name: lead_task_events; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.lead_task_events (
    id uuid NOT NULL,
    task_id uuid NOT NULL,
    actor_user_id uuid,
    event_type character varying(50) NOT NULL,
    from_status character varying(20),
    to_status character varying(20),
    previous_due_at timestamp with time zone,
    next_due_at timestamp with time zone,
    notes text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.lead_task_events OWNER TO clara_user;

--
-- Name: lead_tasks; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.lead_tasks (
    id uuid NOT NULL,
    lead_id uuid NOT NULL,
    organization_id uuid,
    assigned_user_id uuid,
    task_type character varying(50) NOT NULL,
    status character varying(30) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    due_at timestamp with time zone,
    completed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    completed_by_user_id uuid,
    last_status_changed_at timestamp with time zone NOT NULL,
    workflow_scope character varying(50) NOT NULL,
    requested_by_role character varying(30)
);


ALTER TABLE public.lead_tasks OWNER TO clara_user;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.leads (
    id uuid NOT NULL,
    organization_id uuid,
    assigned_user_id uuid,
    display_name character varying(255) NOT NULL,
    source character varying(50) NOT NULL,
    current_stage character varying(50) NOT NULL,
    lead_temperature character varying(20) NOT NULL,
    summary text,
    notes text,
    last_contact_at timestamp with time zone,
    next_follow_up_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    customer_profile_id uuid,
    account_category character varying(20) NOT NULL
);


ALTER TABLE public.leads OWNER TO clara_user;

--
-- Name: marketing_execution_items; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.marketing_execution_items (
    id uuid NOT NULL,
    organization_id uuid,
    created_by_user_id uuid,
    assigned_user_id uuid,
    item_type character varying(50) NOT NULL,
    source_kind character varying(50) NOT NULL,
    status character varying(30) NOT NULL,
    priority character varying(20) NOT NULL,
    title character varying(255) NOT NULL,
    summary text NOT NULL,
    recommended_action text NOT NULL,
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    campaign_name character varying(255),
    result_notes text,
    published_at timestamp with time zone,
    leads_generated integer NOT NULL,
    qualified_leads integer NOT NULL,
    won_leads integer NOT NULL,
    attributed_pipeline_value numeric(18,2) NOT NULL,
    attributed_won_value numeric(18,2) NOT NULL,
    attributed_deposit_amount numeric(18,2) NOT NULL
);


ALTER TABLE public.marketing_execution_items OWNER TO clara_user;

--
-- Name: marketing_insight_snapshots; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.marketing_insight_snapshots (
    id uuid NOT NULL,
    organization_id uuid,
    scope_type character varying(20) NOT NULL,
    snapshot_type character varying(20) NOT NULL,
    period_start date NOT NULL,
    period_end date NOT NULL,
    metrics_json jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.marketing_insight_snapshots OWNER TO clara_user;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.messages (
    id uuid NOT NULL,
    conversation_id uuid NOT NULL,
    sender_name character varying(255) NOT NULL,
    sender_type character varying(50) NOT NULL,
    message_text text NOT NULL,
    message_timestamp timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    external_message_id character varying(255)
);


ALTER TABLE public.messages OWNER TO clara_user;

--
-- Name: ops_notifications; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.ops_notifications (
    id uuid NOT NULL,
    organization_id uuid,
    user_id uuid,
    acknowledged_by_user_id uuid,
    source_type character varying(50) NOT NULL,
    source_key character varying(255) NOT NULL,
    severity character varying(20) NOT NULL,
    title character varying(255) NOT NULL,
    body text NOT NULL,
    target_href character varying(255),
    status character varying(20) NOT NULL,
    acknowledged_at timestamp with time zone,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    delivery_channel character varying(30) NOT NULL,
    delivery_status character varying(20) NOT NULL,
    escalation_level character varying(20) NOT NULL,
    resolution_note text,
    delivered_at timestamp with time zone,
    escalated_at timestamp with time zone,
    workflow_scope character varying(50) NOT NULL,
    owner_role character varying(30) NOT NULL,
    target_role character varying(30) NOT NULL
);


ALTER TABLE public.ops_notifications OWNER TO clara_user;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.organizations (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.organizations OWNER TO clara_user;

--
-- Name: product_knowledge; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.product_knowledge (
    id uuid NOT NULL,
    organization_id uuid,
    title character varying(255) NOT NULL,
    category character varying(100) NOT NULL,
    content text NOT NULL,
    source_type character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_user_id uuid
);


ALTER TABLE public.product_knowledge OWNER TO clara_user;

--
-- Name: reply_suggestions; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.reply_suggestions (
    id uuid NOT NULL,
    conversation_id uuid NOT NULL,
    ai_extraction_id uuid NOT NULL,
    model_name character varying(100) NOT NULL,
    schema_version character varying(50) NOT NULL,
    risk_level character varying(20) NOT NULL,
    action_mode character varying(50) NOT NULL,
    approval_status character varying(50) NOT NULL,
    suggested_replies jsonb NOT NULL,
    policy_reasons jsonb NOT NULL,
    selected_reply_text text,
    final_reply_text text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.reply_suggestions OWNER TO clara_user;

--
-- Name: sales_teams; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.sales_teams (
    id uuid NOT NULL,
    organization_id uuid NOT NULL,
    unit_id uuid,
    manager_user_id uuid,
    name character varying(255) NOT NULL,
    code character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.sales_teams OWNER TO clara_user;

--
-- Name: sales_units; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.sales_units (
    id uuid NOT NULL,
    organization_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.sales_units OWNER TO clara_user;

--
-- Name: sent_messages; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.sent_messages (
    id uuid NOT NULL,
    conversation_id uuid NOT NULL,
    reply_suggestion_id uuid,
    send_mode character varying(50) NOT NULL,
    message_text text NOT NULL,
    sent_by_name character varying(255) NOT NULL,
    external_message_id character varying(255),
    sent_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.sent_messages OWNER TO clara_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: clara_user
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    organization_id uuid,
    created_by_user_id uuid,
    team_id uuid
);


ALTER TABLE public.users OWNER TO clara_user;

--
-- Data for Name: ai_extractions; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.alembic_version (version_num) FROM stdin;
a2b3c4d5e6f7
fab2c3d4e5f6
\.


--
-- Data for Name: approval_logs; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: chat_review_cases; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: chat_review_notes; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.chat_review_notes (id, review_case_id, author_user_id, note_type, body, created_at) FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: customer_profiles; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: knowledge_update_proposals; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.knowledge_update_proposals (id, organization_id, conversation_id, chat_review_case_id, lead_id, proposed_by_user_id, reviewed_by_user_id, published_product_knowledge_id, title, category, proposed_content, source_type, rationale, status, review_decision_note, submitted_at, reviewed_at, published_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: kpi_alert_records; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.kpi_alert_records (id, organization_id, acknowledged_by_user_id, scope_type, alert_key, severity, title, description, recommended_action, target_href, status, first_detected_at, last_detected_at, acknowledged_at, resolved_at, created_at, updated_at, resolved_by_user_id, resolution_note) FROM stdin;
\.


--
-- Data for Name: kpi_command_snapshots; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.kpi_command_snapshots (id, organization_id, scope_type, snapshot_type, metrics_json, observations_json, created_at) FROM stdin;
\.


--
-- Data for Name: lead_activity_events; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: lead_deals; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.lead_deals (id, lead_id, organization_id, owner_user_id, status, currency, expected_value, deposit_amount, expected_close_date, closed_at, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: lead_discipline_logs; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: lead_task_events; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.lead_task_events (id, task_id, actor_user_id, event_type, from_status, to_status, previous_due_at, next_due_at, notes, created_at) FROM stdin;
\.


--
-- Data for Name: lead_tasks; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.lead_tasks (id, lead_id, organization_id, assigned_user_id, task_type, status, title, description, due_at, completed_at, created_at, updated_at, completed_by_user_id, last_status_changed_at, workflow_scope, requested_by_role) FROM stdin;
\.


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: marketing_execution_items; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.marketing_execution_items (id, organization_id, created_by_user_id, assigned_user_id, item_type, source_kind, status, priority, title, summary, recommended_action, notes, created_at, updated_at, campaign_name, result_notes, published_at, leads_generated, qualified_leads, won_leads, attributed_pipeline_value, attributed_won_value, attributed_deposit_amount) FROM stdin;
\.


--
-- Data for Name: marketing_insight_snapshots; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.marketing_insight_snapshots (id, organization_id, scope_type, snapshot_type, period_start, period_end, metrics_json, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: ops_notifications; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.organizations (id, name, slug, created_at) FROM stdin;
6c8e5be1-34bb-4e0c-9898-cb86d5c49dfd	SuperAdminOrg	superadmin-local	2026-05-26 02:03:35.16695+00
\.


--
-- Data for Name: product_knowledge; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: reply_suggestions; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: sales_teams; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.sales_teams (id, organization_id, unit_id, manager_user_id, name, code, created_at) FROM stdin;
9fe8c342-ac88-4919-a22e-c48a733cffea	6c8e5be1-34bb-4e0c-9898-cb86d5c49dfd	\N	3c94e3d2-fb01-470a-a45c-7b00be2d208e	SGB Mini	sgb-mini	2026-06-02 01:57:23.931554+00
\.


--
-- Data for Name: sales_units; Type: TABLE DATA; Schema: public; Owner: clara_user
--

COPY public.sales_units (id, organization_id, name, code, created_at) FROM stdin;
\.


--
-- Data for Name: sent_messages; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: clara_user
--



--
-- Name: ai_extractions ai_extractions_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.ai_extractions
    ADD CONSTRAINT ai_extractions_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: approval_logs approval_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.approval_logs
    ADD CONSTRAINT approval_logs_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: chat_review_cases chat_review_cases_conversation_id_key; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_cases
    ADD CONSTRAINT chat_review_cases_conversation_id_key UNIQUE (conversation_id);


--
-- Name: chat_review_cases chat_review_cases_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_cases
    ADD CONSTRAINT chat_review_cases_pkey PRIMARY KEY (id);


--
-- Name: chat_review_notes chat_review_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_notes
    ADD CONSTRAINT chat_review_notes_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: customer_profiles customer_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.customer_profiles
    ADD CONSTRAINT customer_profiles_pkey PRIMARY KEY (id);


--
-- Name: knowledge_update_proposals knowledge_update_proposals_chat_review_case_id_key; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_chat_review_case_id_key UNIQUE (chat_review_case_id);


--
-- Name: knowledge_update_proposals knowledge_update_proposals_conversation_id_key; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_conversation_id_key UNIQUE (conversation_id);


--
-- Name: knowledge_update_proposals knowledge_update_proposals_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_pkey PRIMARY KEY (id);


--
-- Name: kpi_alert_records kpi_alert_records_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.kpi_alert_records
    ADD CONSTRAINT kpi_alert_records_pkey PRIMARY KEY (id);


--
-- Name: kpi_command_snapshots kpi_command_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.kpi_command_snapshots
    ADD CONSTRAINT kpi_command_snapshots_pkey PRIMARY KEY (id);


--
-- Name: lead_activity_events lead_activity_events_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_activity_events
    ADD CONSTRAINT lead_activity_events_pkey PRIMARY KEY (id);


--
-- Name: lead_deals lead_deals_lead_id_key; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_deals
    ADD CONSTRAINT lead_deals_lead_id_key UNIQUE (lead_id);


--
-- Name: lead_deals lead_deals_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_deals
    ADD CONSTRAINT lead_deals_pkey PRIMARY KEY (id);


--
-- Name: lead_discipline_logs lead_discipline_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_discipline_logs
    ADD CONSTRAINT lead_discipline_logs_pkey PRIMARY KEY (id);


--
-- Name: lead_task_events lead_task_events_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_task_events
    ADD CONSTRAINT lead_task_events_pkey PRIMARY KEY (id);


--
-- Name: lead_tasks lead_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_tasks
    ADD CONSTRAINT lead_tasks_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: marketing_execution_items marketing_execution_items_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.marketing_execution_items
    ADD CONSTRAINT marketing_execution_items_pkey PRIMARY KEY (id);


--
-- Name: marketing_insight_snapshots marketing_insight_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.marketing_insight_snapshots
    ADD CONSTRAINT marketing_insight_snapshots_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: ops_notifications ops_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.ops_notifications
    ADD CONSTRAINT ops_notifications_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: product_knowledge product_knowledge_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.product_knowledge
    ADD CONSTRAINT product_knowledge_pkey PRIMARY KEY (id);


--
-- Name: reply_suggestions reply_suggestions_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.reply_suggestions
    ADD CONSTRAINT reply_suggestions_pkey PRIMARY KEY (id);


--
-- Name: sales_teams sales_teams_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_teams
    ADD CONSTRAINT sales_teams_pkey PRIMARY KEY (id);


--
-- Name: sales_units sales_units_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_units
    ADD CONSTRAINT sales_units_pkey PRIMARY KEY (id);


--
-- Name: sent_messages sent_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sent_messages
    ADD CONSTRAINT sent_messages_pkey PRIMARY KEY (id);


--
-- Name: sales_teams uq_sales_teams_org_code; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_teams
    ADD CONSTRAINT uq_sales_teams_org_code UNIQUE (organization_id, code);


--
-- Name: sales_teams uq_sales_teams_org_name; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_teams
    ADD CONSTRAINT uq_sales_teams_org_name UNIQUE (organization_id, name);


--
-- Name: sales_units uq_sales_units_org_code; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_units
    ADD CONSTRAINT uq_sales_units_org_code UNIQUE (organization_id, code);


--
-- Name: sales_units uq_sales_units_org_name; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_units
    ADD CONSTRAINT uq_sales_units_org_name UNIQUE (organization_id, name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_ai_extractions_conversation_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_ai_extractions_conversation_id ON public.ai_extractions USING btree (conversation_id);


--
-- Name: ix_approval_logs_reply_suggestion_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_approval_logs_reply_suggestion_id ON public.approval_logs USING btree (reply_suggestion_id);


--
-- Name: ix_audit_logs_action; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: ix_audit_logs_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_audit_logs_organization_id ON public.audit_logs USING btree (organization_id);


--
-- Name: ix_chat_review_cases_conversation_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE UNIQUE INDEX ix_chat_review_cases_conversation_id ON public.chat_review_cases USING btree (conversation_id);


--
-- Name: ix_chat_review_cases_feedback_status; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_chat_review_cases_feedback_status ON public.chat_review_cases USING btree (feedback_status);


--
-- Name: ix_chat_review_cases_lead_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_chat_review_cases_lead_id ON public.chat_review_cases USING btree (lead_id);


--
-- Name: ix_chat_review_cases_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_chat_review_cases_organization_id ON public.chat_review_cases USING btree (organization_id);


--
-- Name: ix_chat_review_cases_reviewer_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_chat_review_cases_reviewer_user_id ON public.chat_review_cases USING btree (reviewer_user_id);


--
-- Name: ix_chat_review_cases_submitted_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_chat_review_cases_submitted_by_user_id ON public.chat_review_cases USING btree (submitted_by_user_id);


--
-- Name: ix_chat_review_cases_workflow_scope; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_chat_review_cases_workflow_scope ON public.chat_review_cases USING btree (workflow_scope);


--
-- Name: ix_chat_review_notes_author_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_chat_review_notes_author_user_id ON public.chat_review_notes USING btree (author_user_id);


--
-- Name: ix_chat_review_notes_review_case_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_chat_review_notes_review_case_id ON public.chat_review_notes USING btree (review_case_id);


--
-- Name: ix_conversations_external_thread_key; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_conversations_external_thread_key ON public.conversations USING btree (external_thread_key);


--
-- Name: ix_conversations_lead_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_conversations_lead_id ON public.conversations USING btree (lead_id);


--
-- Name: ix_conversations_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_conversations_organization_id ON public.conversations USING btree (organization_id);


--
-- Name: ix_conversations_provider_key; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_conversations_provider_key ON public.conversations USING btree (provider_key);


--
-- Name: ix_conversations_sales_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_conversations_sales_user_id ON public.conversations USING btree (sales_user_id);


--
-- Name: ix_customer_profiles_assigned_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_customer_profiles_assigned_user_id ON public.customer_profiles USING btree (assigned_user_id);


--
-- Name: ix_customer_profiles_canonical_key; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_customer_profiles_canonical_key ON public.customer_profiles USING btree (canonical_key);


--
-- Name: ix_customer_profiles_merged_into_profile_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_customer_profiles_merged_into_profile_id ON public.customer_profiles USING btree (merged_into_profile_id);


--
-- Name: ix_customer_profiles_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_customer_profiles_organization_id ON public.customer_profiles USING btree (organization_id);


--
-- Name: ix_customer_profiles_status; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_customer_profiles_status ON public.customer_profiles USING btree (status);


--
-- Name: ix_knowledge_update_proposals_chat_review_case_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_knowledge_update_proposals_chat_review_case_id ON public.knowledge_update_proposals USING btree (chat_review_case_id);


--
-- Name: ix_knowledge_update_proposals_conversation_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_knowledge_update_proposals_conversation_id ON public.knowledge_update_proposals USING btree (conversation_id);


--
-- Name: ix_knowledge_update_proposals_lead_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_knowledge_update_proposals_lead_id ON public.knowledge_update_proposals USING btree (lead_id);


--
-- Name: ix_knowledge_update_proposals_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_knowledge_update_proposals_organization_id ON public.knowledge_update_proposals USING btree (organization_id);


--
-- Name: ix_knowledge_update_proposals_proposed_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_knowledge_update_proposals_proposed_by_user_id ON public.knowledge_update_proposals USING btree (proposed_by_user_id);


--
-- Name: ix_knowledge_update_proposals_published_product_knowledge_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_knowledge_update_proposals_published_product_knowledge_id ON public.knowledge_update_proposals USING btree (published_product_knowledge_id);


--
-- Name: ix_knowledge_update_proposals_reviewed_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_knowledge_update_proposals_reviewed_by_user_id ON public.knowledge_update_proposals USING btree (reviewed_by_user_id);


--
-- Name: ix_kpi_alert_records_acknowledged_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_kpi_alert_records_acknowledged_by_user_id ON public.kpi_alert_records USING btree (acknowledged_by_user_id);


--
-- Name: ix_kpi_alert_records_alert_key; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_kpi_alert_records_alert_key ON public.kpi_alert_records USING btree (alert_key);


--
-- Name: ix_kpi_alert_records_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_kpi_alert_records_organization_id ON public.kpi_alert_records USING btree (organization_id);


--
-- Name: ix_kpi_alert_records_resolved_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_kpi_alert_records_resolved_by_user_id ON public.kpi_alert_records USING btree (resolved_by_user_id);


--
-- Name: ix_kpi_alert_records_scope_type; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_kpi_alert_records_scope_type ON public.kpi_alert_records USING btree (scope_type);


--
-- Name: ix_kpi_command_snapshots_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_kpi_command_snapshots_organization_id ON public.kpi_command_snapshots USING btree (organization_id);


--
-- Name: ix_kpi_command_snapshots_scope_type; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_kpi_command_snapshots_scope_type ON public.kpi_command_snapshots USING btree (scope_type);


--
-- Name: ix_lead_activity_events_actor_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_activity_events_actor_user_id ON public.lead_activity_events USING btree (actor_user_id);


--
-- Name: ix_lead_activity_events_lead_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_activity_events_lead_id ON public.lead_activity_events USING btree (lead_id);


--
-- Name: ix_lead_activity_events_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_activity_events_organization_id ON public.lead_activity_events USING btree (organization_id);


--
-- Name: ix_lead_deals_lead_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE UNIQUE INDEX ix_lead_deals_lead_id ON public.lead_deals USING btree (lead_id);


--
-- Name: ix_lead_deals_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_deals_organization_id ON public.lead_deals USING btree (organization_id);


--
-- Name: ix_lead_deals_owner_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_deals_owner_user_id ON public.lead_deals USING btree (owner_user_id);


--
-- Name: ix_lead_discipline_logs_actor_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_discipline_logs_actor_user_id ON public.lead_discipline_logs USING btree (actor_user_id);


--
-- Name: ix_lead_discipline_logs_lead_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_discipline_logs_lead_id ON public.lead_discipline_logs USING btree (lead_id);


--
-- Name: ix_lead_discipline_logs_log_date; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_discipline_logs_log_date ON public.lead_discipline_logs USING btree (log_date);


--
-- Name: ix_lead_discipline_logs_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_discipline_logs_organization_id ON public.lead_discipline_logs USING btree (organization_id);


--
-- Name: ix_lead_task_events_actor_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_task_events_actor_user_id ON public.lead_task_events USING btree (actor_user_id);


--
-- Name: ix_lead_task_events_task_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_task_events_task_id ON public.lead_task_events USING btree (task_id);


--
-- Name: ix_lead_tasks_assigned_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_tasks_assigned_user_id ON public.lead_tasks USING btree (assigned_user_id);


--
-- Name: ix_lead_tasks_completed_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_tasks_completed_by_user_id ON public.lead_tasks USING btree (completed_by_user_id);


--
-- Name: ix_lead_tasks_lead_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_tasks_lead_id ON public.lead_tasks USING btree (lead_id);


--
-- Name: ix_lead_tasks_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_tasks_organization_id ON public.lead_tasks USING btree (organization_id);


--
-- Name: ix_lead_tasks_workflow_scope; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_lead_tasks_workflow_scope ON public.lead_tasks USING btree (workflow_scope);


--
-- Name: ix_leads_assigned_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_leads_assigned_user_id ON public.leads USING btree (assigned_user_id);


--
-- Name: ix_leads_customer_profile_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_leads_customer_profile_id ON public.leads USING btree (customer_profile_id);


--
-- Name: ix_leads_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_leads_organization_id ON public.leads USING btree (organization_id);


--
-- Name: ix_marketing_execution_items_assigned_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_marketing_execution_items_assigned_user_id ON public.marketing_execution_items USING btree (assigned_user_id);


--
-- Name: ix_marketing_execution_items_created_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_marketing_execution_items_created_by_user_id ON public.marketing_execution_items USING btree (created_by_user_id);


--
-- Name: ix_marketing_execution_items_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_marketing_execution_items_organization_id ON public.marketing_execution_items USING btree (organization_id);


--
-- Name: ix_marketing_insight_snapshots_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_marketing_insight_snapshots_organization_id ON public.marketing_insight_snapshots USING btree (organization_id);


--
-- Name: ix_marketing_insight_snapshots_scope_type; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_marketing_insight_snapshots_scope_type ON public.marketing_insight_snapshots USING btree (scope_type);


--
-- Name: ix_messages_conversation_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_messages_conversation_id ON public.messages USING btree (conversation_id);


--
-- Name: ix_messages_external_message_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE UNIQUE INDEX ix_messages_external_message_id ON public.messages USING btree (external_message_id);


--
-- Name: ix_ops_notifications_acknowledged_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_ops_notifications_acknowledged_by_user_id ON public.ops_notifications USING btree (acknowledged_by_user_id);


--
-- Name: ix_ops_notifications_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_ops_notifications_organization_id ON public.ops_notifications USING btree (organization_id);


--
-- Name: ix_ops_notifications_source_key; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_ops_notifications_source_key ON public.ops_notifications USING btree (source_key);


--
-- Name: ix_ops_notifications_source_type; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_ops_notifications_source_type ON public.ops_notifications USING btree (source_type);


--
-- Name: ix_ops_notifications_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_ops_notifications_user_id ON public.ops_notifications USING btree (user_id);


--
-- Name: ix_ops_notifications_workflow_scope; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_ops_notifications_workflow_scope ON public.ops_notifications USING btree (workflow_scope);


--
-- Name: ix_organizations_slug; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE UNIQUE INDEX ix_organizations_slug ON public.organizations USING btree (slug);


--
-- Name: ix_product_knowledge_created_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_product_knowledge_created_by_user_id ON public.product_knowledge USING btree (created_by_user_id);


--
-- Name: ix_product_knowledge_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_product_knowledge_organization_id ON public.product_knowledge USING btree (organization_id);


--
-- Name: ix_reply_suggestions_ai_extraction_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_reply_suggestions_ai_extraction_id ON public.reply_suggestions USING btree (ai_extraction_id);


--
-- Name: ix_reply_suggestions_conversation_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_reply_suggestions_conversation_id ON public.reply_suggestions USING btree (conversation_id);


--
-- Name: ix_sales_teams_manager_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_sales_teams_manager_user_id ON public.sales_teams USING btree (manager_user_id);


--
-- Name: ix_sales_teams_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_sales_teams_organization_id ON public.sales_teams USING btree (organization_id);


--
-- Name: ix_sales_teams_unit_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_sales_teams_unit_id ON public.sales_teams USING btree (unit_id);


--
-- Name: ix_sales_units_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_sales_units_organization_id ON public.sales_units USING btree (organization_id);


--
-- Name: ix_sent_messages_conversation_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_sent_messages_conversation_id ON public.sent_messages USING btree (conversation_id);


--
-- Name: ix_sent_messages_reply_suggestion_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_sent_messages_reply_suggestion_id ON public.sent_messages USING btree (reply_suggestion_id);


--
-- Name: ix_users_created_by_user_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_users_created_by_user_id ON public.users USING btree (created_by_user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_organization_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_users_organization_id ON public.users USING btree (organization_id);


--
-- Name: ix_users_team_id; Type: INDEX; Schema: public; Owner: clara_user
--

CREATE INDEX ix_users_team_id ON public.users USING btree (team_id);


--
-- Name: ai_extractions ai_extractions_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.ai_extractions
    ADD CONSTRAINT ai_extractions_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: approval_logs approval_logs_reply_suggestion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.approval_logs
    ADD CONSTRAINT approval_logs_reply_suggestion_id_fkey FOREIGN KEY (reply_suggestion_id) REFERENCES public.reply_suggestions(id) ON DELETE CASCADE;


--
-- Name: chat_review_cases chat_review_cases_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_cases
    ADD CONSTRAINT chat_review_cases_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: chat_review_cases chat_review_cases_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_cases
    ADD CONSTRAINT chat_review_cases_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE SET NULL;


--
-- Name: chat_review_cases chat_review_cases_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_cases
    ADD CONSTRAINT chat_review_cases_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: chat_review_cases chat_review_cases_reviewer_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_cases
    ADD CONSTRAINT chat_review_cases_reviewer_user_id_fkey FOREIGN KEY (reviewer_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: chat_review_cases chat_review_cases_submitted_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_cases
    ADD CONSTRAINT chat_review_cases_submitted_by_user_id_fkey FOREIGN KEY (submitted_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: chat_review_notes chat_review_notes_author_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_notes
    ADD CONSTRAINT chat_review_notes_author_user_id_fkey FOREIGN KEY (author_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: chat_review_notes chat_review_notes_review_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.chat_review_notes
    ADD CONSTRAINT chat_review_notes_review_case_id_fkey FOREIGN KEY (review_case_id) REFERENCES public.chat_review_cases(id) ON DELETE CASCADE;


--
-- Name: conversations conversations_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: conversations conversations_sales_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_sales_user_id_fkey FOREIGN KEY (sales_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customer_profiles customer_profiles_assigned_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.customer_profiles
    ADD CONSTRAINT customer_profiles_assigned_user_id_fkey FOREIGN KEY (assigned_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customer_profiles customer_profiles_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.customer_profiles
    ADD CONSTRAINT customer_profiles_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: conversations fk_conversations_lead_id_leads; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT fk_conversations_lead_id_leads FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE SET NULL;


--
-- Name: customer_profiles fk_customer_profiles_merged_into_profile_id; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.customer_profiles
    ADD CONSTRAINT fk_customer_profiles_merged_into_profile_id FOREIGN KEY (merged_into_profile_id) REFERENCES public.customer_profiles(id) ON DELETE SET NULL;


--
-- Name: kpi_alert_records fk_kpi_alert_records_resolved_by_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.kpi_alert_records
    ADD CONSTRAINT fk_kpi_alert_records_resolved_by_user_id_users FOREIGN KEY (resolved_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: lead_tasks fk_lead_tasks_completed_by_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_tasks
    ADD CONSTRAINT fk_lead_tasks_completed_by_user_id_users FOREIGN KEY (completed_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: leads fk_leads_customer_profile_id_customer_profiles; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT fk_leads_customer_profile_id_customer_profiles FOREIGN KEY (customer_profile_id) REFERENCES public.customer_profiles(id) ON DELETE SET NULL;


--
-- Name: product_knowledge fk_product_knowledge_created_by_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.product_knowledge
    ADD CONSTRAINT fk_product_knowledge_created_by_user_id_users FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users fk_users_created_by_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_created_by_user_id_users FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users fk_users_team_id_sales_teams; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_team_id_sales_teams FOREIGN KEY (team_id) REFERENCES public.sales_teams(id) ON DELETE SET NULL;


--
-- Name: knowledge_update_proposals knowledge_update_proposals_chat_review_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_chat_review_case_id_fkey FOREIGN KEY (chat_review_case_id) REFERENCES public.chat_review_cases(id) ON DELETE SET NULL;


--
-- Name: knowledge_update_proposals knowledge_update_proposals_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: knowledge_update_proposals knowledge_update_proposals_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE SET NULL;


--
-- Name: knowledge_update_proposals knowledge_update_proposals_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: knowledge_update_proposals knowledge_update_proposals_proposed_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_proposed_by_user_id_fkey FOREIGN KEY (proposed_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: knowledge_update_proposals knowledge_update_proposals_published_product_knowledge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_published_product_knowledge_id_fkey FOREIGN KEY (published_product_knowledge_id) REFERENCES public.product_knowledge(id) ON DELETE SET NULL;


--
-- Name: knowledge_update_proposals knowledge_update_proposals_reviewed_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.knowledge_update_proposals
    ADD CONSTRAINT knowledge_update_proposals_reviewed_by_user_id_fkey FOREIGN KEY (reviewed_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: kpi_alert_records kpi_alert_records_acknowledged_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.kpi_alert_records
    ADD CONSTRAINT kpi_alert_records_acknowledged_by_user_id_fkey FOREIGN KEY (acknowledged_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: kpi_alert_records kpi_alert_records_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.kpi_alert_records
    ADD CONSTRAINT kpi_alert_records_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: kpi_command_snapshots kpi_command_snapshots_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.kpi_command_snapshots
    ADD CONSTRAINT kpi_command_snapshots_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: lead_activity_events lead_activity_events_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_activity_events
    ADD CONSTRAINT lead_activity_events_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: lead_activity_events lead_activity_events_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_activity_events
    ADD CONSTRAINT lead_activity_events_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE CASCADE;


--
-- Name: lead_activity_events lead_activity_events_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_activity_events
    ADD CONSTRAINT lead_activity_events_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: lead_deals lead_deals_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_deals
    ADD CONSTRAINT lead_deals_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE CASCADE;


--
-- Name: lead_deals lead_deals_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_deals
    ADD CONSTRAINT lead_deals_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: lead_deals lead_deals_owner_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_deals
    ADD CONSTRAINT lead_deals_owner_user_id_fkey FOREIGN KEY (owner_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: lead_discipline_logs lead_discipline_logs_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_discipline_logs
    ADD CONSTRAINT lead_discipline_logs_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: lead_discipline_logs lead_discipline_logs_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_discipline_logs
    ADD CONSTRAINT lead_discipline_logs_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE CASCADE;


--
-- Name: lead_discipline_logs lead_discipline_logs_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_discipline_logs
    ADD CONSTRAINT lead_discipline_logs_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: lead_task_events lead_task_events_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_task_events
    ADD CONSTRAINT lead_task_events_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: lead_task_events lead_task_events_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_task_events
    ADD CONSTRAINT lead_task_events_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.lead_tasks(id) ON DELETE CASCADE;


--
-- Name: lead_tasks lead_tasks_assigned_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_tasks
    ADD CONSTRAINT lead_tasks_assigned_user_id_fkey FOREIGN KEY (assigned_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: lead_tasks lead_tasks_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_tasks
    ADD CONSTRAINT lead_tasks_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE CASCADE;


--
-- Name: lead_tasks lead_tasks_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.lead_tasks
    ADD CONSTRAINT lead_tasks_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: leads leads_assigned_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_assigned_user_id_fkey FOREIGN KEY (assigned_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: leads leads_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: marketing_execution_items marketing_execution_items_assigned_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.marketing_execution_items
    ADD CONSTRAINT marketing_execution_items_assigned_user_id_fkey FOREIGN KEY (assigned_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: marketing_execution_items marketing_execution_items_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.marketing_execution_items
    ADD CONSTRAINT marketing_execution_items_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: marketing_execution_items marketing_execution_items_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.marketing_execution_items
    ADD CONSTRAINT marketing_execution_items_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: marketing_insight_snapshots marketing_insight_snapshots_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.marketing_insight_snapshots
    ADD CONSTRAINT marketing_insight_snapshots_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: messages messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: ops_notifications ops_notifications_acknowledged_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.ops_notifications
    ADD CONSTRAINT ops_notifications_acknowledged_by_user_id_fkey FOREIGN KEY (acknowledged_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ops_notifications ops_notifications_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.ops_notifications
    ADD CONSTRAINT ops_notifications_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: ops_notifications ops_notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.ops_notifications
    ADD CONSTRAINT ops_notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: product_knowledge product_knowledge_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.product_knowledge
    ADD CONSTRAINT product_knowledge_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: reply_suggestions reply_suggestions_ai_extraction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.reply_suggestions
    ADD CONSTRAINT reply_suggestions_ai_extraction_id_fkey FOREIGN KEY (ai_extraction_id) REFERENCES public.ai_extractions(id) ON DELETE CASCADE;


--
-- Name: reply_suggestions reply_suggestions_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.reply_suggestions
    ADD CONSTRAINT reply_suggestions_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: sales_teams sales_teams_manager_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_teams
    ADD CONSTRAINT sales_teams_manager_user_id_fkey FOREIGN KEY (manager_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: sales_teams sales_teams_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_teams
    ADD CONSTRAINT sales_teams_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: sales_teams sales_teams_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_teams
    ADD CONSTRAINT sales_teams_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.sales_units(id) ON DELETE SET NULL;


--
-- Name: sales_units sales_units_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sales_units
    ADD CONSTRAINT sales_units_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: sent_messages sent_messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sent_messages
    ADD CONSTRAINT sent_messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: sent_messages sent_messages_reply_suggestion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.sent_messages
    ADD CONSTRAINT sent_messages_reply_suggestion_id_fkey FOREIGN KEY (reply_suggestion_id) REFERENCES public.reply_suggestions(id) ON DELETE SET NULL;


--
-- Name: users users_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: clara_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict qml3vHpDUaQZa93PfaMVEcbgF0WFVLT4eQaRSl6Zmw0LLMu7avYzarblbucoqm7

